{% extends 'platform/base.html' %}
{% load static %}

{% block title %} <title>Questões Concluídas | SendIT</title> {% endblock %}

{% block content %}

<div class="container">
    <div class="columns">
        <div class="column is-3">
            <div class="box">
                <figure class="image has-text-centered is-256x256">
                    <a href="#">
                        <img class="card-avatar-img"
                             src="{% static user.avatar_url %}">
                    </a>
                </figure>

                <div class="card-user">
                    <div class="card-user-name">
                        {% if user.get_full_name %}
                        <a>{{ user.get_full_name|upper }}</a>
                        {% else %}
                        <a>{{ user.username|upper }}</a>
                        {% endif %}
                    </div>
                </div>

                <ul class="card-stats-list">
                    <li class="card-stats-item">
                        <span class="card-stats-key">Level</span>
                        <span class="card-stats-val">{{ user.level }}</span>
                    </li>
                    <li class="card-stats-item">
                        <span class="card-stats-key">XP</span>
                        <span class="card-stats-val">{{ user.xp }}</span>
                    </li>
                    <li class="card-stats-item">
                        <span class="card-stats-key">Categoria</span>
                        <span class="card-stats-val"></span>
                    </li>
                </ul>
            </div>
            <div class="box trending">
                <p class="trend-title"><span class="title is-5">Melhores da Semana</span></p>
                <p class="trend-hashtag">
                    <img src="{% static 'img/platform/podium/first.png' %}" alt="1º" width="24">
                    <a href="#">Fulano</a> - 13k xps
                </p>
                <p class="trend-hashtag">
                    <img src="{% static 'img/platform/podium/second.png' %}" alt="2º" width="24">
                    <a href="#">Beltrano</a> - 29k xps
                </p>
                <p class="trend-hashtag">
                    <img src="{% static 'img/platform/podium/third.png' %}" alt="3º" width="24">
                    <a href="#">Cicrano</a> - 2k xps
                </p>
            </div>
        </div>
        <div class="column is-6">
            {% for question in questions %}
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <h2 class="subtitle">
                                <a href="{% url 'core:get-question' question.id %}" class="links-questao">
                                    {{ question.title }}
                                </a>
                            </h2>
                            <div>
                                {{ question.statement|safe|escape }}
                            </div>
                        </div>
                        <nav class="level">
                            <div class="level-left">
                                {% for tag in question.tags.all %}
                                <small class="tag">{{ tag.tag }}</small>
                                {% endfor %}
                            </div>
                            <div class="level-right">
                                <p>XP: {{ question.xp }}</p>
                            </div>
                        </nav>
                    </div>
                </article>
            </div>
            {% empty %}
            <div class="box">
                <article class="media">
                    <div class="media-content has-text-centered">
                        <div class="content">
                            <img src="{% static 'img/platform/sad.png' %}" alt="Sad Face">
                            <h2 class="subtitle">
                                Desculpe, mas você ainda não resolveu nenhuma Questão!
                            </h2>
                            <p>
                                Tente começar pelas questões <a href="{% url 'core:home' %}?tag=Introdução">introdutórias</a>
                            </p>
                        </div>
                    </div>
                </article>
            </div>
            {% endfor %}
        </div>

        <div class="column is-3">
            <div class="box">
                <div class="trending">
                    <p class="trend-title"><span class="title is-5">Tags</span></p>
                    <div class="tags">
                        <span class="tag">
                            <a href="{{ url }}?tag=all">
                                Todas
                            </a>
                        </span>
                        {% for tag in tags %}
                        <span class="tag">
                            <a href="{{ url }}?tag={{ tag }}">
                                {{ tag }}
                            </a>
                        </span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
