{% extends 'platform/base.html' %}
{% load static %}

{% block title %}<title>{{ question.title }}</title>{% endblock %}

{% block content %}
<div class="container">
    <section class="box">
        <h1 class="title has-text-centered">
            {{ question.title }}
        </h1>
        <div>
            {{ question.statement|safe|escape }}
        </div>
        <br />
        {% if question.sample_input or question.sample_output %}
        <div class="columns entrada-saida">
            <div class="column">
                <h2 class="subtitle">
                    Exemplo de Entrada:
                </h2>
                <div>
                    {{ question.sample_input|linebreaksbr }}
                </div>
            </div>
            <div class="column saida">
                <h2 class="subtitle">
                    Exemplo de Saída:
                </h2>
                <div>
                    {{ question.sample_output|linebreaksbr }}
                </div>
            </div>
        </div>
        {% endif %}
    </section>

    <section>
        <form id="code" action="{% url 'core:submit' question.id %}" method="post">
            {% csrf_token %}
            {% include "editor.html" %}
        </form>
    </section>
</div>
{% endblock content %}