{% extends 'platform/base.html' %}
{% load static %}
{% load l10n %}
{% load i18n %}
{% load core %}

{% block title %}
  <title>SendIT</title>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="columns">
      <div class="column is-3">
        <div class="box">
          <figure class="image has-text-centered is-256x256">
            <a href="#"><img class="card-avatar-img" src="{% static user.avatar_url %}" /></a>
          </figure>

          <div class="card-user">
            <div class="card-user-name">
              {% if user.full_name %}
                <a>{{ user.full_name|upper }}</a>
              {% else %}
                <a>{{ user.username|upper }}</a>
              {% endif %}
            </div>
          </div>

          <ul class="card-stats-list">
            <li class="card-stats-item">
              <span class="card-stats-key">Conquistas</span>
              <span class="card-stats-val">
                {% for achievement in achievements %}
                  <picture class="is-inline-flex">
                    <img src="{{ achievement.badge.url }}" alt="{{ achievement.name }} - {{ achievement.xp }}" class="image is-32x32 is-cover is-rounded" title="{{ achievement }}" />
                  </picture>
                {% endfor %}
              </span>
            </li>
          </ul>

          <ul class="card-stats-list">
            <li class="card-stats-item">
              <span class="card-stats-key">Level</span>
              <span class="card-stats-val">{{ user.level }}</span>
            </li>
            <li class="card-stats-item">
              <span class="card-stats-key">XP</span>
              <span class="card-stats-val">{{ user.xp }}</span>
            </li>
          </ul>
        </div>

        <div class="box">
          <div class="buttons">
            <a class="button is-fullwidth is-info" href="{% url 'core:completed-question' %}">
              <i class="fa fa-bolt"></i>&nbsp;
              Questões Concluídas
            </a>
            <a class="button is-fullwidth is-warning" href="{% url 'core:random' %}">
              <i class="fas fa-random"></i>&nbsp;
              Questão Aleatória
            </a>
          </div>
        </div>

        <div class="box trending">
          <p class="trend-title">
            <span class="title is-5">Melhores da Semana</span>
          </p>
          {% if best_users_of_week %}
            {% for user in best_users_of_week %}
              <p class="trend-hashtag">
                <img src="{% static 'img/platform/podium/1.png' %}" alt="1º" width="24" />
                <a href="#">{{ user.username }}</a> - {{ user.xp }} XPs
              </p>
            {% endfor %}
          {% endif %}
        </div>
      </div>
      {% block info %}
        <div class="column is-6">
          <div class="box trending">
            <div class="tags">
              <span class="tag is-dark"><a href="{% url 'core:home' %}">Todas</a></span>
              {% for tag in tags %}
                {% cycle 'is-primary' 'is-link' 'is-info' 'is-warning' 'is-danger' as color silent %}
                <span class="tag {{ color }} is-light"><a href="{% url 'core:home' %}?tag={{ tag }}">{{ tag }}</a></span>
              {% endfor %}
            </div>
          </div>
          {% for question in questions %}
            <div class="box">
              <article class="media">
                <div class="media-content">
                  <div class="content">
                    <h2 class="subtitle"><a href="{% url 'core:question_detail_by_uuid' question.uuid %}" class="links-questao">{{ question.title }}</a></h2>
                  </div>
                  <nav class="level">
                    <div class="level-left">
                      <small class="tag is-link">XP: {{ question.xp }}</small>
                      {% for tag in question.tags.all %}
                        <small class="tag is-dark">{{ tag.tag }}</small>
                      {% endfor %}
                    </div>
                  </nav>
                </div>
              </article>
            </div>
          {% empty %}
            <div class="box">
              <article class="media">
                <div class="media-content">
                  <div class="content has-text-centered">
                    <img src="{% static 'img/platform/finish.png' %}" alt="Finish" />
                    <h2 class="subtitle">Parabens você já resolveu todas as questões da nossa Plataforma!</h2>
                  </div>
                </div>
              </article>
            </div>
          {% endfor %}
        </div>
        <div class="column is-3">
          <div class="box trending">
            <p class="trend-title">
              <span class="title is-5">Estatísticas</span>
            </p>
            <dl>
              <dt>Tempo Total:</dt>
              <dd><strong><time datetime="{{ user.total_time_on|duration:'machine' }}">{{ user.total_time_on|duration:'phrase' }}</time></strong></dd>

              <dt>Envios Corretos:</dt>
              <dd><strong>{{ user.ok }}</strong></dd>

              <dt>Envios Incorretos:</dt>
              <dd><strong>{{ user.not_ok }}</strong></dd>
            </dl>
          </div>
          <div class="box assessments">
            <p class="trend-title">
              <span class="title is-5">Avaliações</span>
            </p>

            {% for assessment in assessments %}
              <details open>
                <summary>{{ assessment.name }}</summary>
                <p>
                  Total de Pontos: <strong>{{ assessment.total_of_points }}</strong>
                </p>
                <a class="button is-success" href="{% url 'evaluation:assessment-detail' assessment.uuid %}">Acessar</a>
              </details>
            {% empty %}
              Nenhuma Avaliação Disponível
            {% endfor %}
          </div>
        </div>
      {% endblock %}
    </div>
  </div>
{% endblock %}
