{% extends 'platform/home.html' %}
{% load staticfiles %}

{% block title %}<title>SendIT</title>{% endblock %}

{% block info %}
<div class="column">
    <div class="box">
        <h1 class="title has-text-centered">Submissões</h1>
        <table class="table is-striped is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>Questão</th>
                    <th>Linguagem</th>
                    <th>Situação</th>
                    <th>Data e Hora</th>
                </tr>
            </thead>
            <tbody>
                {% for submission in submissions %}
                <tr>
                    <td><a href="{{submission.question.get_absolute_url}}">{{submission.question.title}}</a></td>
                    <td>{{submission.language}}</td>
                    <td>{{submission.status}}</td>
                    <td>{{submission.timestamp}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
</div>
</div>