{% extends 'sistema/base.html' %}
{% load staticfiles %}

{% block content %}
{% for questao in questao %}
<div class="column">
    <title>{{questao.titulo}}</title>
    <section class="section">
        <div class="columns divquestao">
            <div class="column" id="enunciado">
                <h1 class="title">
                    {{questao.titulo}}
                </h1>
                <h2 class="subtitle">
                    {{questao.enunciado}}
                </h2>
                <div class="columns entrada-saida">
                    <div class="column">
                        <h2 class="subtitle">
                            Entrada: <br>
                        </h2>
                    </div>
                    <div class="column saida">
                        <h2 class="subtitle">
                            Saída: <br>
                            {{questao.saida|linebreaksbr}}
                        </h2>
                    </div>
                </div>
            </div>
            <div class="div-botao-aumentar-diminuir">
              <a href="" onclick="aumentar_diminuir('aumentar');">
                <span class="icon is-large botao-aumentar-diminuir">
                  <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
                </span>
              </a>
            </div>
            <div class="column editor-ace">
                <form id="code" action="/questoes/{{questao.id}}/submeter/" method="post">
                    {% csrf_token %}
                    <div id="editor">alert("Olá");</div>
                    <textarea name="editor" id="codigoEnviado" style="display: none;"></textarea>
                </form>
            </div>
        </div>
</div>
</section>
{% endfor %}
{% endblock content %}
{% block js %}
<script src="{% static 'js/ace.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'js/app.js' %}" type="text/javascript" charset="utf-8"></script>
<script>
  function aumentar_diminuir(opcao){
    let opcaoDesejada = opcao;
    if (opcaoDesejada=='aumentar') {
      let enunciado = document.getElementById('enunciado');
      enunciado.setAttribute('style', 'display:none;');
      let divAce = document.getElementsByClassName('editor-ace');
      divAce.removeAttribute('class');
      divAce.setAttribute('style', 'width:90vw;');
      let editorAce = document.getElementById('editor');
      editorAce.setAttribute('style', 'width:90vw;');
      let formAce = document.getElementById('code');
      formAce.setAttribute('style', 'width:90vw;');
    }
  }
</script>
{% endblock js %}
