{% extends 'sistema/base.html' %}
{% load staticfiles %}

{% block title %}<title>SendIT</title>{% endblock %}

{% block content %}
<div class="container">
    <div class="columns">
        <div class="column is-3">
            <div class="box">

                <figure class="image has-text-centered is-256x256">
                    <a href="#">
                        <img class="card-avatar-img"
                             src="{% static user.avatar_url %}">
                    </a>
                </figure>

                <div class="card-user">
                    <div class="card-user-name">
                        {% if user.get_full_name %}
                        <a>{{ user.get_full_name|upper }}</a>
                        {% else %}
                        <a>{{ user.username|upper }}</a>
                        {% endif %}
                    </div>
                </div>

                <ul class="card-stats-list">
                    <li class="card-stats-item">
                        <span class="card-stats-key">Level</span>
                        <span class="card-stats-val">{{ user.level }}</span>
                    </li>
                    <li class="card-stats-item">
                        <span class="card-stats-key">XP</span>
                        <span class="card-stats-val">{{ user.xp }}</span>
                    </li>
                    <li class="card-stats-item">
                        <span class="card-stats-key">Categoria</span>
                        <span class="card-stats-val"></span>
                    </li>
                </ul>
            </div>
            <div class="box trending">
                <p class="trend-title"><span class="title is-5">Melhores da Semana</span></p>
                <p class="trend-hashtag">
                    <img src="{% static 'img/plataforma/podium/first.png' %}" alt="1º" width="24">
                    <a href="#">Fulano</a> - 13k xps
                </p>
                <p class="trend-hashtag">
                    <img src="{% static 'img/plataforma/podium/second.png' %}" alt="2º" width="24">
                    <a href="#">Beltrano</a> - 29k xps
                </p>
                <p class="trend-hashtag">
                    <img src="{% static 'img/plataforma/podium/third.png' %}" alt="3º" width="24">
                    <a href="#">Cicrano</a> - 2k xps
                </p>
            </div>
        </div>
        <div class="column is-6">
            {% for questao in questoes %}
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <h2 class="subtitle">
                                <a href="{% url 'plataforma:ver-questao' questao.id %}" class="links-questao">
                                    {{ questao.titulo }}
                                </a>
                            </h2>
                            <div>
                                {{ questao.enunciado|safe|escape }}
                            </div>
                        </div>
                        <nav class="level">
                            <div class="level-left">
                                {% for tag in questao.tags.all %}
                                <small class="tag">{{ tag.tag }}</small>
                                {% endfor %}
                            </div>
                            <div class="level-right">
                                <p>XP: {{ questao.xp }}</p>
                            </div>
                        </nav>
                    </div>
                </article>
            </div>
            {% empty %}
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content has-text-centered">
                            <img src="{% static 'img/plataforma/finish.png' %}" alt="Finish">
                            <h2 class="subtitle">
                                Parabens você já resolveu todas as questões da nossa Plataforma!
                            </h2>
                        </div>
                    </div>
                </article>
            </div>
            {% endfor %}
        </div>
        {% endblock %}
        {% block menu_direita %}
        <div class="column is-3">
            <div class="box">
                <div class="trending">
                    <p class="trend-title"><span class="title is-5">Tags</span></p>
                    <div class="tags">
                        <span class="tag"><a href="{% url 'plataforma:home' %}">Todas</a></span>
                        {% for tag in tags %}
                        <span class="tag">
                            <a href="{% url 'plataforma:home' %}?tag={{ tag }}">
                                {{ tag }}
                            </a>
                        </span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </div>
</div>