{% extends 'sistema/base.html' %}
{% load staticfiles %}

{% block content %}
<title>SendIT</title>
<section class="section">
  {% for questao in questoes %}
    <div class="card questoes">
      <header class="card-header">
        <p class="card-header-title">
          <a href="/questao/{{questao.id}}" class="links-questao">
            {{questao.titulo}}
          </a>
        </p>
        <p class="card-header-title tipo-questao">
          Tipo:
        </p>
      </header>
      <div class="card-content">
        <div class="content">
          {{questao.enunciado}}
          <br>
          <small>Tags: {{questao.tags}}</small>
        </div>
      </div>
      <footer class="card-footer">
        <p class="card-footer-item">Acertos: </p>
        <p class="card-footer-item">Erros: </p>
        <p class="card-footer-item">Scores: </p>
      </footer>
    </div>
  {% endfor %}
</section>
{% endblock content %}
