html {
  margin: 0;
  font-size: 16px;
  overflow-x: hidden;
}

.menu {
  background-color: #f95738;
}

.menu a,
p {
  color: #4A4A4A;
}

#nome-projeto {
  font-family: 'Gochi Hand', cursive;
  font-size: 1.8rem;
  color: #f4d35e;
}

#nome-projeto span {
  color: #faf0ca;
}

.nav-menu .nav-item {
  color: #faf0ca;
}

.nav-menu .nav-item:hover {
  color: #faf0ca;
}

.nav-menu {
  background-color: #f95738;
}

.icon {
  color: #faf0ca;
}

.nav-toggle {
  background-color: #f95738;
}

.nav-toggle.is-active span {
  background-color: #faf0ca;
}

.nav-toggle:hover {
  background-color: #f95738;
}

.nav-toggle span {
  background-color: #faf0ca;
}

#code {
  top: -20px;
  position: relative;
}

#editor {
  width: auto;
  height: 49vw;
  margin-top: 20px;
}