DEBUG=True
SECRET_KEY=2alk+*r6obeu8bsskju=x)j_--y$!@43t25+es6&i!tx+3a8_),
DATABASE_URL=postgres://postgres:postgres@db:5432/senditdb
REDIS_URL=redis://memdb:6379/0
AWS_ACCESS_KEY_ID=sendit
AWS_SECRET_ACCESS_KEY=senditpassword
AWS_STORAGE_BUCKET_NAME=sendit
AWS_S3_ENDPOINT_URL='http://host.docker.internal:9000'
AWS_S3_REGION_NAME=us-east-1
AWS_S3_URL_PROTOCOL=http:
EMAIL_HOST = "mail"
EMAIL_PORT = 1025
EMAIL_HOST_USER = ""
EMAIL_HOST_PASSWORD = ""
EMAIL_USE_TLS = False
EMAIL_TIMEOUT = 10
DEFAULT_FROM_EMAIL = "dannluciano@ifpi.edu.br"