[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"

[packages]
django = "*"
django-ckeditor = "*"
psycopg2 = "*"
gunicorn = "*"
whitenoise = "*"
django-session-security = "*"
django-rq = "*"
six = "*"
unicodecsv = "*"
django-request = "*"
django-miniexplorer = "*"

[dev-packages]
pylint = "*"
django-debug-toolbar = "*"
autopep8 = "*"

[requires]
python_version = "3.8"

[scripts]
start = "forego start -c web=1,worker=1"
dev = "gunicorn -b 0.0.0.0:5100 -w 8 -t 30 --preload --capture-output --access-logfile - --log-file - SendIT.wsgi --reload"
