[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"

[packages]
django = "*"
django-ckeditor = "*"
psycopg2 = "*"
gunicorn = "*"
whitenoise = "*"
django-session-security = "*"
django-sql-explorer = "*"

[dev-packages]
pylint = "*"
django-debug-toolbar = "*"
black = "*"

[requires]
python_version = "3.6"
