#terminal-section {
  height: var(--terminal-height);
  border-top: 1px solid #282a36;
}

#terminal-buttons {
  display: none;
}

#terminal {
  width: 100%;
  height: calc(100%);
}

@media (max-width: 991px) {
  #terminal-buttons {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    border-bottom: 1px solid #282a36;
    align-items: center;
    padding: 0.25em 0;
    margin-left: 1em;
  }

  #terminal {
    width: 100%;
    height: calc(100% - 2em);
  }
}