{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, interactive-widget=overlays-content" />
    <title>Linux Shell in Virtual Machine/Container</title>
    <link rel="stylesheet" href="{% static 'vendor/bulma/css/bulma.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <style>
      main {
        height: 100vh;
      }
      
      #term {
        min-height: 50svh;
        height: 100%;
      }
    </style>
  </head>

  <body class="drac-bg-black">
    <header>
      <nav class="nav has-shadow menu-cima navbar theme" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/sh">SendIT-Shell</a>

          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">SendIT-Verso</a>

              <div class="navbar-dropdown">
                <a class="navbar-item" href="https://www.youtube.com/c/dannluciano">Canal no Youtube</a>
                <hr class="navbar-divider" />
                <a class="navbar-item" href="/">SendIT</a>
                <a class="navbar-item" href="/#">SendIT-DB</a>
                <a class="navbar-item" href="/#">SendIT-IDE</a>
              </div>
            </div>
            <div class="navbar-item">
              <button class="button" onclick="darkxlight()">🌓 Dark/Light</button>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="container is-hidden-desktop">
        <div class="buttons">
          <button id="control-c" class="button" onclick="controlC()">CTRL+C</button>
          <button id="control-z" class="button" onclick="controlZ()">CTRL+Z</button>
          <button id="control-l" class="button" onclick="controlL()">CLEAR</button>
        </div>
      </div>
      <iframe id="term" src="https://linuxvm.dannluciano.com.br/ttyd" frameborder="1px" width="100%" class="drac-border-green"></iframe>
    </main>
    <script>
      function controlC() {
        var input = document.getElementById('term').contentDocument.querySelector('textarea')
        var keyboard = Keysim.Keyboard.US_ENGLISH
        let ctrl_c = new Keysim.Keystroke(Keysim.Keystroke.CTRL, 67)
        keyboard.dispatchEventsForKeystroke(ctrl_c, input)
        console.log('CTRL+C')
      }
      
      function controlZ() {
        var input = document.getElementById('term').contentDocument.querySelector('textarea')
        var keyboard = Keysim.Keyboard.US_ENGLISH
        let ctrl_c = new Keysim.Keystroke(Keysim.Keystroke.CTRL, 90)
        keyboard.dispatchEventsForKeystroke(ctrl_c, input)
        console.log('CTRL+C')
      }
      
      function controlL() {
        var input = document.getElementById('term').contentDocument.querySelector('textarea')
        var keyboard = Keysim.Keyboard.US_ENGLISH
        let ctrl_l = new Keysim.Keystroke(Keysim.Keystroke.CTRL, 76)
        keyboard.dispatchEventsForKeystroke(ctrl_l, input)
        console.log('CTRL+L')
      }
      var script = document.createElement('script')
      script.src = 'https://unpkg.com/keysim@latest/dist/keysim.js'
      document.body.appendChild(script)
    </script>
    <script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
    <script src="{% static 'js/bulma.js' %}"></script>
  </body>
</html>
