@charset "utf-8";

$black: #22212C;
$white-ter: #22212C; // background
$grey-darker: #454158;
$grey: #7970A9;
$white: #F8F8F2;
$orange: #FFCA80;
$yellow: #FFFF80;
$green: #8AFF80;
$turquoise: #FF80BF;
$cyan: #80FFEA;
$blue: #F8F8F2;
$purple: #9580FF;
$red: #FF9580;

@use "bulma/sass" with (
  $primary: $purple,
);

@forward "bulma/sass/themes";
