<div class="navbar-item has-dropdown is-hoverable">
  <a class="navbar-link"><ion-icon name="planet"></ion-icon>&nbsp; SendIT-Verso</a>

  <div class="navbar-dropdown">
    <a class="navbar-item" href="https://www.youtube.com/c/dannluciano">Canal no Youtube&nbsp;&nbsp;<ion-icon name="logo-youtube"></ion-icon></a>
    <hr class="navbar-divider" />
    <a class="navbar-item" href="{% url 'core:home' %}">SendIT&nbsp;&nbsp;<ion-icon name="send"></ion-icon></a>
    <a class="navbar-item" href="{% url 'shell:home' %}">SendIT-Shell&nbsp;&nbsp;<ion-icon name="terminal"></ion-icon></a>
    <a class="navbar-item" href="#">SendIT-DB</a>
    <a class="navbar-item" href="#">SendIT-IDE</a>
  </div>
</div>
