{% extends 'platform/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'editor.css' %} ">
{% endblock %}

{% block content %}
    <section class="box full-height">
        <div class="select is-inline-block is-large">
            <select id="language-select" name="language" class="is-inline-block">
                <option value="null">Escolha uma Linguagem</option>
                <option value="c">C</option>
                <option value="cplusplus">C++</option>
                <option value="javascript">JavaScript</option>
                <option value="java">Java</option>
                <option value="python">Python</option>
            </select>
        </div>
        <div class="is-inline-block">
            <button class="button is-large is-primary is-disabled">Executar</button>
            <button class="button is-large is-success is-disabled">Salvar</button>
        </div>
        <hr>
        <textarea name="editor" id="editor" rows="2"></textarea>
    </section>
{% endblock content %}

{% block js %}
<script src="{% static 'codemirror/lib/codemirror.js'%}"></script>
<link rel="stylesheet" href="{% static 'codemirror/lib/codemirror.css' %} ">
<link rel="stylesheet" href="{% static 'codemirror/theme/solarized.css' %} ">
<script src="{% static 'codemirror/mode/clike/clike.js'%}"></script>
<script src="{% static 'codemirror/mode/javascript/javascript.js'%}"></script>
<script src="{% static 'codemirror/mode/python/python.js'%}"></script>
<script src="{% static 'editor.js'%}"></script>
{% endblock %}