{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'editor.css' %} ">
{% endblock %}

<section class="box full-height">
    <div class="select is-inline-block is-large">
        <select id="language-select" name="language" class="is-inline-block">
            <option {% if last_submission.language == 'null' %}selected{% endif %} value="null">
                Escolha uma Linguagem
            </option>
            <option {% if last_submission.language == 'c' %}selected{% endif %} value="c">
                C
            </option>
            <option {% if last_submission.language == 'cplusplus' %}selected{% endif %} value="cplusplus">
                C++
            </option>
            <option {% if last_submission.language == 'javascript' %}selected{% endif %} value="javascript">
                JavaScript
            </option>
            <option value="java" {% if last_submission.language == 'java' %}selected {% endif %}>
                Java
            </option>
            <option value="python" {% if last_submission.language == 'python' %}selected {% endif %}>
                Python
            </option>
        </select>
    </div>
    <div class="is-inline-block">
        <div class="field is-horizontal">
            <button id="run-button" class="button is-large is-primary">Executar</button>
            {% comment %} &nbsp;
            <button id="copy" class="button is-large">Copiar</button>
            &nbsp;
            <button id="colar" class="button is-large">Colar</button> 
            {% endcomment %}
            {% comment %}
            <div class="field-label is-normal">
                <label class="label">Nome do Arquivo:</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <input class="input is-large" type="text" name="filename">
                </div>
            </div>
            <button class="button is-large is-success ">Salvar</button>
            {% endcomment %}
        </div>
    </div>
    <hr>
    <textarea name="editor" id="editor" rows="2">{% if last_submission %}{{last_submission.code}}{% endif %}</textarea>
</section>

{% block js %}
<script src="{% static 'codemirror/lib/codemirror.js'%}"></script>
<link rel="stylesheet" href="{% static 'codemirror/lib/codemirror.css' %} ">
<link rel="stylesheet" href="{% static 'codemirror/theme/solarized.css' %} ">
<script src="{% static 'codemirror/mode/clike/clike.js'%}"></script>
<script src="{% static 'codemirror/mode/javascript/javascript.js'%}"></script>
<script src="{% static 'codemirror/mode/python/python.js'%}"></script>
<script src="{% static 'runner.js'%}"></script>
<script src="{% static 'editor.js'%}"></script>
{% endblock %}